body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

header {
    text-align: center;
    font-size: 20px;
}

header img {
    width: 100%;
 }

.descripcion contenedor {
    width: 50%;
}

.caracteristicas {
    text-align: center;
}

.contenedor {
    width: 1100px;
    margin: auto;
}

.caracteristicas, footer {
    background-color: #1e1a13;
}

section {
    padding: 40px 0px;
}

.descripcion div {
    width: 50%;
    float: left;
    font-size: 16px;
    text-align: justify;
}

.descripcion img {
    width: 400px;
    padding-left: 100px;;
}

h2 {
    font-size: 40px;
}

.icono {
    width: 20%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagenes {
    text-align: center;
}

.imagenes img {
    height: 185px;
    object-fit: contain;
    width: 30%;
    display: inline-block;
}

footer {
    padding: 60px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}